<%- include('header'); -%>

<div class="jumbotron text-center">
  <h1>Welcome to Reserve App</h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <% if(req.cookies.auth){ %>
        <h3>You are logged in</h3>
        <p><a href="/logout">logut</a></p>  
      <% } else { %>
      <h3>Login</h3>
      <p><a href="/login">Login</a></p>
      <% } %>
    </div>
    <div class="col-sm-4">
      <h3>Signup</h3>
      <p><a href="/signup">Signup</a></p>
    </div>
    <div class="col-sm-4">
      <h3>Reserve</h3>
      <p><a href="#">Reserve</a></p>
    </div>
  </div>
</div>


<%- include('footer'); -%>